.sub-navbar{
    max-width: 1140px;
    height: 233px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
}
.sub-title__tytle{
    font-size: 35px;
    color: rgba(11, 19, 42, 1);
}
.sub-title__desc{
    color: sub-title__desc;
    padding-top: 20px;
}
.sub-btn{
    width: 250px;
    height: 60px;
    border: 3px solid rgba(245, 56, 56, 1);
    border-radius: 15px;
    background-color: white;
    font-size: 18px;
    transition: 0.5s;
}
.sub-btn:hover{
    background-color: rgba(245, 56, 56, 1);
    color: white;
    backdrop-filter: blur(54px);
    box-shadow: 1px 10px 10px rgba(245, 56, 56, 0.35);;
}
@media (max-width:850px) {
    .sub-navbar{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
